@media (max-width: 1600px) {}


@media (max-width: 1024px) {

.site-nav a.disabled {display: none;}
    h1 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: clamp(0.4rem, 8vw, 2rem);
    }

    h2 {
        font-size: clamp(0.4rem, 5vw, 1.5rem);
    }

    h3 {
        font-size: clamp(0.4rem, 3vw, 1.3rem);
    }

    a,
    p,
    email, figcaption, div.random-slash, .box ul li {
        font-size: clamp(0.4rem, 3vw, 1.1rem);
    }


    .header {
        z-index: 999;
    }

    .box{
        padding: 0.75rem;
    }
    .cards.grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .cards .description p {
        font-size: clamp(0.4rem, 4vw, 2.5rem);
    }

    .header,
    .site-nav {
        flex-direction: row;
        height: 5rem;
        margin: 0;
        flex-grow: 1;
        background-color: white;
    }

    .site-nav a {
        padding: 0;
        flex: 1;
        font-weight: 400;
        text-align: center;
        font-size: clamp(0.4rem, 3vw, 1.2rem);
    }

    .logo {
        width: 6rem;
        height: 100%;
        margin: auto 0;
        padding: .5rem;
    }

    .main {
        margin-top: 5rem;
        /* margin-left 0; */
    }

    .header {
        width: 100%;
    }

    .header.box {
        padding: 0;
    }

    .footer {
        width: 100%;
        /* background: white; */
    }

    .main {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .site-nav a:hover {
        background: white;
        color: black;
        box-shadow: 0px 0px 0px white;
        text-shadow: 0px 0px 0px white;

    }

    .log .categories,
    .log .dropdown {
        width: 100%;
        margin: 0 auto;
    }

    .figure {
        flex-direction: column;
    }
    .project .figure .wrapper{
        width: 100%;
    }
    .project .figure .displayed-image {
        width: 100%;
    }

    .thumbnail-gallery {
        flex-wrap: wrap;
    }

    .thumbnail-gallery .custom-button {
        /* margin: auto; */
    }

    .controls .categories{
        margin-bottom: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .box.screenshot, #screenshot{
        min-height: unset;
    }
    .box ul li {

    line-height: 1.3;
}
.box.prose p,
.box figcaption {

    line-height: 1.3;
}
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) { */

    .cards.grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .cards .description p {
        font-size: clamp(0.4rem, 5vw, 0.8rem);
    }

    .card .description .subtitle {
        font-size: clamp(0.4rem, 4vw, 0.75rem);
    }

    a,
    p,
    email {
        font-size: clamp(0.4rem, 3vw, 1rem);
    }

    .controls .categories, .controls .dropdown
    {
        width: 75%;
    }
}